---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'research', text: 'Research Projects' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>
    如果您觉得我的某个项目很有趣，欢迎和我讨论！😊
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'BioPapers',
        description: '融合 Deepseek 助手的生物医学文献检索系统',
        links: [
          { type: 'github', href: 'https://github.com/WHT0909/BioPapers' }
        ]
      },
      {
        name: 'LungVision',
        description: '针对胸部X-Ray图像的肺叶图像增强与分割软件',
        links: [
          { type: 'github', href: 'https://github.com/WHT0909/LungVision' }
        ]
      },
      {
        name: 'TOXICS-Webserver',
        description: '化合物 / 药物毒理学数据库',
        links: [
          { type: 'github', href: 'https://github.com/WHT0909/TOXICS-Webserver' }
        ]
      },
      {
        name: 'HABAGA 图像处理软件',
        description: '基于 MFC 框架开发的医学图像处理工具',
        links: [
          { type: 'github', href: 'https://github.com/shangshulin/MyPhotoshop' }
        ]
      }
    ]}
  />
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: '生物医学文献检索系统 1.0 版本',
          description: 'https://github.com/WHT0909/PaperFinding',
          links: [
            { type: 'github', href: 'https://github.com/WHT0909/PaperFinding' }
          ]
        },
        {
          name: '猜盐“词变”游戏自动化脚本',
          description:
            '猜盐小游戏的外挂',
          links: [{ type: 'github', href: 'https://github.com/WHT0909/Caiyan_Cibian' }]
        },
        {
          name: '猜盐“寻花令”自动猜测脚本',
          description:
            '猜盐小游戏的外挂',
          links: [{ type: 'github', href: 'https://github.com/WHT0909/Caiyan_XunHuaLingGuesser' }]
        }
      ]}
    />
  </Collapse>

  <h2 id='research'>Research Projects</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'iAVP-RFVOT: Identify Antiviral Peptides by Random Forest Voting Machine Learning with Unified Manifold Learning Embedded Features',
        description: '基于随机森林投票机器学习并融合统一流形学习嵌入特征的抗病毒肽识别算法',
        links: [
          { type: 'site', href: 'https://pubs.acs.org/doi/10.1021/acs.biochem.5c00237' },
          { type: 'github', href: 'https://github.com/WHT0909/iAVP-RFVOT' }
        ]
      }
    ]}
  />

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
